{% extends 'base.html' %}

{% block title %}Guardian Information{% endblock %}

{% block css %}
<style>

    .container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    }

    fieldset {
        margin-top: 30px;
        width: 100%;
        max-width: 800px;
        margin: auto;
        padding: 20px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: #fff;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        margin-top: 10px;
    }

    select, input, textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-btn{
        display: inline-block;
        padding: 8px 16px;
        margin-top: 10px;
        color: #fff;
        background-color: #000151;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: 0.3s;
    }

    .form-btn:hover {
    background-color: #0056b3;
    }


    @media (max-width: 600px) {
        .form-grid {
            grid-template-columns: 1fr;
        }
    }
    
</style>
{% endblock %}

{% block content %}
<div class="container">
<fieldset>

<h2>Guardian Information</h2>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-grid">

<div>
    <label>Name</label>
    <input type="text" id="name" name="name">
</div>

<div>
    <label>Phone Number</label>
    <input type="number" id="phone" name="phone">
</div>

<div class="full-width btns">
    <a href="{% url 'patientinfo' %}" class="form-btn" id="prevBtn">Previous</a>
    <a href="{% url 'doctorinfo' %}" class="form-btn" id="nextBtn">Next Page</a>
</div>

</div>
</form>

</fieldset>
</div>
<script>
    function saveData() {
        localStorage.setItem("guardian_name", document.getElementById("name").value);
        localStorage.setItem("guardian_number", document.getElementById("phone").value);
    }

    window.onload = function() {
        document.getElementById("name").value = localStorage.getItem("guardian_name") || "";
        document.getElementById("phone").value = localStorage.getItem("guardian_number") || "";
    }

    document.getElementById("prevBtn").addEventListener("click", function() {
        saveData();
    });

    document.getElementById("nextBtn").addEventListener("click", function() {
        saveData();
    });
</script>

{% endblock %}
